<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    {% include "bootstrap" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <p>About Page</p>
    <h1>Creators</h1>
    <p>Zane Choudhry Marko Ramos & Abdullah Aziz</p>
    <h1>HOW TO PLAY!</h1>
    <h6>Roles</h6>
    <p>To become a Commissioner, a user must go to the Join/Create league option on the navigation bar and create a league. As a
    league Commissioner you have the authority to (add on later). As a league Commissioner, you are the first to have access to
    the League Id and can share the League Id with you friends or family to play together.</p>
    <h6>Members</h6>
    <p>To become a Member, a user must go to the Join/Create league option on the navigation bar and enter the League Id provided to them.
    Once they enter the League Id the user will be redirected to the League page and will be able to see the user that is the Commissioner,
    a list of all the members in the league, and the leaderboard for the league. Members also have the otpion to leave a league. Members will only be allowed
    to leave the league inbetween for submissions for the week of play (Tuesday to Wednesday).</p>
    <h1>HOW TO PLAY!</h1>
    <p>Users must go to the Join/Create league option on the navigation bar and click on the "Submit Form" option. Users will then be given to
      chooses between the matchups on who they believe will win. After making their choices the user can submit their form at the bottom of the page.
      After submitting, the form will be entered for every league that ther user is in.
      By the end of the last game of the week, typically Monday, the Win Loss ration on the leaderboard will be updated for all users.</p>
  </body>
</html>
