<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    {% include "bootstrap" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <p>About Page</p>
    <h1>Implementation</h1>
    <p>Fill out later</p>
    <h2>Tools and Technology</h2>
    <p>The tools that were used for this project were Django, Python, CSS, javaScript, and Html. Html, javaScript, and CSS were used for
    rendering the pages. I used javaScript to handle the pie chart and bar graph. Django and Python were used for handling the .py files in each application. The files were edited in a Atom, which
    is a free text editor. The files were uploaded to GitHub to store the project. The majority of the backend implementation was done in the
    views.py file in the language Python.</p>
    <h2>About Us</h2>
    <p>Fill out later</p>
  </body>
</html>
