<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    {% include "bootstrap" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <p>Dashboard page</p>
    <div class = "embed-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLn3nHXu50t5yFrEiI6qauae38gOxPwodO&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div?
  </body>
</html>
