<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Form Submission</title>
    {% include "bootstrap" %}
    <link rel="stylesheet" href="{%static 'mystyle.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    select {
        width: 150px;
        margin: 10px;

    }
    select:focus {
        min-width: 150px;
        width: auto;
    }
</style>
  </head>
    <body style = "background-image:url({% static 'images/Feed/feedbackground.png' %}); ">
    {% include "navbar.html" %}
    {% if request.user.userprofile.form_submit == True %}
    <div class="col-md-6" style = "margin:auto;">
      <div class="container-fluid">
        <div class = "jumbotron">
        <h4 style = "text-align:center;"><strong>Weekly Form Submission</strong></h4>
        <h6>{{request.user.first_name}}, You Have Already Filled out the Weekly Submission form. All you can do now is hope you chose the right teams. Best of Luck!</h5>
          <p>-Friendly Sports Pool
      </div>
    </div>
  </div>
  {% else %}
  <h3>Weekly Form Submission</h3>
    <form method="POST">{%csrf_token%}
      {% for game in games %}
      <label for="{{game.game_id}}">Select a Game</label>
        <select name={{game.game_id}}>
            <option selected="selected" disabled>Game {{game.game_id}}</option>
                    <option value="{{game.away_team}}">{{game.away_team}}</option>
                    <option value="{{game.home_team}}">{{game.home_team}}</option>
        </select>
      </br>
      {% endfor %}
        <br><br>
        <button type="submit" class="btn btn-primary" name="submit_form">Submit</button>
      </form>
    <form method="GET">
      <button type="submit" class="btn btn-secondary" name="cancel">Cancel</button>
    </form>
    {% endif %}
  </body>
</html>
