<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    {% include "bootstrap" %}
  </head>
  <body>
    {% include "navbar.html" %}
    {% if comment_list|length > 0%}
    {%for comment in comment_list%}
      <strong>
        {{comment.name}} -
        {{comment.date}}
      </strong>
      <br/>
        {{comment.comment}}
        <br/>
        {% if comment.like%}
        <a type = submit name = "like">Unlike</a>
        {%else%}
        <a style = "color: blue;" type = "submit" name = "unlike">Like</a>
        {%endif%}
        <br/>
    {%endfor%}
    {%else%}
    <h4>No Comments Yet...</h4>
    {%endif%}
    <form method = 'POST'>{%csrf_token%}
      {{form}}
      <button type = "submit" class = "btn btn-primary" name = addcomment>Add Comment</button>
    </form>
  </body>
</html>
