<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    {% include "bootstrap" %}
  </head>
  <body>
    {% include "navbar.html" %}
    {% if comment_list|length > 0%}
    {%for comment in comment_list%}
      <strong>
        {{comment.name}} -
        {{comment.date}}
      </strong>
      <br/>
        {{comment.comment}}
        <br/>
        <form action = "{% url 'likecomment'%}" method = 'POST'>{%csrf_token%}
          <input type = 'hidden' name = 'comment_id' value = "{{comment.id}}">
          {% if user not in comment.liked.all %}
            <button href = "/feed/like/{{comment.id}}" type = submit name = "like">Like</button>
          {%else%}
            <form method = 'POST'>{%csrf_token%}
              <button href ="/feed/like/{{comment.id}}"style = "color: blue;" type = "submit" name = "unlike">Unlike</button>
          {%endif%}
        </form>
        <strong>{{comment.liked.all.count}} likes </strong>
        <br/>
    {%endfor%}
    {%else%}
    <h4>No Comments Yet...</h4>
    {%endif%}
    <form method = 'POST'>{%csrf_token%}
      {{form}}
      <button type = "submit" class = "btn btn-primary" name = addcomment>Add Comment</button>
    </form>
  </body>
</html>
